<div id="<%= dom_id testing1 %>">
  <p>
    <strong>First name:</strong>
    <%= testing1.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= testing1.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= testing1.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= testing1.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= testing1.twitter %>
  </p>

</div>
