<p style="color: green"><%= notice %></p>

<%= render @testing1 %>

<div>
  <%= link_to "Edit this testing1", edit_testing1_path(@testing1) %> |
  <%= link_to "Back to testing1s", testing1s_path %>

  <%= button_to "Destroy this testing1", @testing1, method: :delete %>
</div>
